body {
    overflow-y: auto;
    background: black;
}

#Loader {
    opacity: 1;
    color: #c0772f;
    padding-top: 95px;
}

#Background {
    background: #303030;
}

#ExitButton {
    z-index: 3;
}

/* [Game]------------------------------ */
#Game {
    height: 490px;
    margin-top: 188px;
}

#Root {
    background: transparent;
    position: absolute;
}

#Banner {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding: 2px;
    background: white;
    border-radius: 5px;
    border: 1px solid silver;
    position: relative;
    box-shadow: 0 0 20px black;
    margin-bottom: 20px;
    padding-top: 4px;
    padding-bottom: 0px;
    display: none;
}

#BackgroundMaterial {
    opacity: 1;
}

#Notification .item {
    background: #E9CCB3;
    border: 1px solid #B87C47;
    color: black;
}

/* Players ------------------------------------------*/
#Player1 .score {
    background-size: 140px;
    width: 120px;
    padding: 10px;
    background-position-y: -2px;
    top: 64px;
    left: 105px;
    height: 70px;
    display: none;
}

#Player2 .score {
    background-size: 140px;
    padding: 10px;
    background-position-y: -2px;
    top: 64px;
    right: 105px;
    height: 70px;
    display: none;
}

#Player1 .cue {
    position: absolute;
    left: 40px;
    top: 0px;
    width: 120px;
    height: 120px;
    display: none;
}

#Player2 .cue {
    position: absolute;
    right: 50px;
    top: 0px;
    width: 120px;
    height: 120px;
    display: none;
}

#Player1 .cue img,
#Player2 .cue img {
    height: 120px;
}

#Player2 .offline {
    display: none;
    position: absolute;
    padding: 1px 4px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    border: 1px solid #B4B4B4;
    top: 60px;
    color: #FFF;
    right: 50px;
}

.player .progresbar {
    bottom: -31px !important;
    left: 19px !important;
    right: 19px !important;
    background: #0F0 !important;
    border-radius: 5px !important;
    height: 30px !important;
    width: 82px;
    z-index: 0;
}

.player .details {
    z-index: 10;
}


/* Notification -------------------------------------*/
#Notification .connecting {
    display: block;
}

#Notification .share_friends input {
    width: 260px;
    text-align: center;
    padding: 3px;
}

#Notification .share_friends .info_msg {
    margin-top: 5px;
    height: 10px;
    opacity: 0;
    font-size: 12px;
}

